/* Big tablet to 1200px (width smaller than 1140px row) */
@media only screen and (max-width: 1200px) {
   .hero-text-box {
      width: 100%;
      padding: 0 2%;
   }

   .row { padding: 0 2%; }

   .plan-price { font-size: 250% }
   
   .plan-box {
      width: 100%;
      margin-left: 2%;
   }

   .plan-box > div:nth-child(2) {
      font-size: 70%;
   }

}

/* Small to big tablet from 768px to 1023px */
@media only screen and (max-width: 1023px) {
   body { font-size: 18px; }

   section {padding: 60px 0;}

   .long-copy {
      width: 80%;
      margin-left: 10%;
   }

   .steps-box { margin-top: 10px; }

   .steps-box:last-child { margin-top: 30px; }

   .works-step { margin-bottom: 40px; }

   .works-step:last-of-type { margin-bottom: 60px; }

   .icon-s { width: 20px; }

   .city-feature { font-size: 90%; }

   .contact-form { width: 80%; }

   .app-screen { width: 50%; }

}

/* Small tablet and phones from 481px to 767px */
@media only screen and (max-width: 767px) {
   body { font-size: 1rem; }

   section { padding: 30px 0; }

   .row,
   .hero-text-box { padding: 0 5%; }

   nav > .row > ul {
      transition: height 0.5s ease-in-out, transform 0.5s ease-in-out;
      /* overflow: hidden; */
   }

   .js--main-nav.hidden { display: none; }

   .main-nav { 
      float: left;
      margin-top: 25px;
      margin-left: 25px;
   }

   .main-nav > li { display: block; }

   .main-nav > li > a:link,
   .main-nav > li > a:visited {
      display: block;
      border: 0;
      padding: 10px 0;
      font-size: 100%;
   }
   
   .sticky .main-nav { margin-top: 10px; }

   .sticky .main-nav > li > a:link,
   .sticky .main-nav > li > a:visited { padding: 10px 0px; }

   .mobile-nav-icon { display: inline-block; }

   .sticky .mobile-nav-icon { margin-top: 10px; }

   .sticky .mobile-nav-icon ion-icon { color: #050505; }

   h1 { font-size: 180%; }

   h2 { font-size: 150%; }

   .long-copy {
      width: 100%;
      margin-left: 0%;
   }

   .sec1-grid {
      /* features */
      gap: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
   }

   .sec2-grid {
      /* meals */
      display: grid;
      gap: 0;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
   }

   .sec3-grid {
      /* how it works */
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);

   }

   .form-grid {
      /* contact form  */
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr 2fr) 1fr 1.5fr 1fr 4.5fr;
   }
   
   .steps-box:first-child {
      text-align: center;
      margin-top: 30px;
      padding-right: 0%;
   }

   .app-screen {
      width: 39%;
      margin: 0;
   }

   .works-step { margin-bottom: 20px; }

   .works-step:last-of-type { margin-bottom: 30px; }

   .cities,
   .customers,
   .plans { flex-wrap: wrap; }
   
   .cities > .box {
      margin: 0 auto;
      width: 46%;
   }

   .customers > blockquote {
      margin: 1.5em auto;
      padding: 0%;
      width: 90%;
   }

   .customers > blockquote:last-of-type { margin-bottom: 1em; }
   
   .customers blockquote::after {
      right: -0.1em;
      bottom: -0.3em;
   }
   
   .plan-box {
      width: 80%;
      margin: 1em auto;
   }

   .submit {
      margin-top: 0;
   }

   footer { font-size: 60%;}

}

/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {

   section{ padding: 25px 0; }

   .contact-form{ width: 100%; }

   .cities > .box { width: 90%; }

   .steps-box:last-child { 
      margin-top: 0px;
      margin-left: 0px;
      padding-left: 0px;
   }

}